<configuration>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="app_service.js" verb="*" modules="iisnode" />
	  <!--<add name="iisnode-socket.io" path="app_service.js" verb="*" modules="iisnode" />-->
    </handlers>

    <rewrite>
	  <rules>
		<rule name="HTTP to Prod HTTPS redirect" stopProcessing="true">
		  <match url="(.*)" />
		  <conditions>
			<add input="{HTTPS}" pattern="off" ignoreCase="true" />
			<add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
		  </conditions>
		  <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
		</rule>
		<!-- Don't interfere with requests for logs -->
		<rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
		  <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$" />
		</rule>
		<!-- Don't interfere with requests for node-inspector debugging -->
		<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
		  <match url="^app_service.js\/debug[\/]?" />
		</rule>
		<!-- First we consider whether the incoming URL matches a physical file in the     /public folder -->
		<rule name="StaticContent">
		  <action type="Rewrite" url="public{REQUEST_URI}" />
		</rule>
		<!-- All other URLs are mapped to the Node.js application entry point -->
		<rule name="DynamicContent">
		  <conditions>
			 <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
		  </conditions>
		  <action type="Rewrite" url="app_service.js" />
		</rule>
	  </rules>
	</rewrite>
	
	<iisnode      
      node_env="%node_env%"      
      watchedFiles="web.config;*.js;*.json;node_modules\*;src\*"
      loggingEnabled="true"
      logDirectory=".\logs"
      debuggingEnabled="true"
      debugHeaderEnabled="true"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxLogFiles="20"
      devErrorsEnabled="true"
      flushResponse="false"      
      enableXFF="true"
      promoteServerVars=""
      configOverrides="iisnode.yml"
	  debuggerExtensionDll="iisnode-inspector-0.7.3.dll"
	  nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" 
     />
    <webSocket enabled="false" />
  </system.webServer>
</configuration>